html { font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif; }
ul { list-style: none; }
* { margin: 0; padding: 0; box-sizing: border-box; }

@for $i from 10 through 80 {
  .fs-#{$i} { font-size: $i * 1px; }
  .pl-#{$i} { padding-left: $i * 1px; }
  .pt-#{$i} { padding-top: $i * 1px; }
  .pr-#{$i} { padding-right: $i * 1px; }
  .pb-#{$i} { padding-bottom: $i * 1px; }
  .px-#{$i} { padding-left: $i * 1px; padding-right: $i * 1px; }
  .py-#{$i} { padding-top: $i * 1px; padding-bottom: $i * 1px; }
  .p-#{$i} { padding: $i * 1px; }
  .ml-#{$i} { margin-left: $i * 1px; }
  .mt-#{$i} { margin-top: $i * 1px; }
  .mr-#{$i} { margin-right: $i * 1px; }
  .mb-#{$i} { margin-bottom: $i * 1px; }
  .mx-#{$i} { margin-left: $i * 1px; margin-right: $i * 1px; }
  .my-#{$i} { margin-top: $i * 1px; margin-bottom: $i * 1px; }
  .m-#{$i} { margin: $i * 1px; }
}

$colors: #000, #333, #666, #999, #ccc, #ddd, #eee, #fff, #1E90FF;
$colorName: '000', '333', '666', '999', 'ccc', 'ddd', 'eee', 'fff', '0ff';

@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  $name: nth($colorName, $i);
  .color-#{$name} { color: $color; }
  .bg-#{$name} { background-color: $color;}
  .bc-#{$name} { border-color: $color !important;}
}

.flex { display: flex; }
.flex-1 { flex: 1; }
.flex-wrap { flex-wrap: wrap; }
.flex-col { flex-direction: column; }
.flex-row-start { justify-content: flex-start; }
.flex-row-center { justify-content: center; }
.flex-row-end { justify-content: flex-end; }
.flex-row-between { justify-content: space-between; }
.flex-col-start { align-items: flex-start; }
.flex-col-center { align-items: center; }
.flex-col-end { align-items: flex-end; }
.flex-col-baseline { align-items: baseline; }

.p-relative { position: relative; }
.p-absolute { position: absolute; }
.p-fixed { position: fixed; }
.l-0 { left: 0; }
.t-0 { top: 0; }
.r-0 { right:0; }
.b-0 { bottom: 0; }
.w-100 { width: 100%; }
.w-100i { width: 100% !important; }
.h-100 { height: 100%; }
.h-100i { height: 100% !important; }
.vh-100 { height: 100vh; }
.fw-bold { font-weight: bold; }

.mx-auto { margin-left: auto; margin-right: auto; }

.bb-1 { border-bottom: 1px solid; }
.bt-1 { border-top: 1px solid; }
.scroll-y { overflow-y: auto; }
.scroll-x { overflow-x: auto; }

.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }

.lh-1 { line-height: 1; }
.lh-15 { line-height: 1.5;}

.text-center { text-align: center;}
.text-right { text-align: right; }

// 针对开发项目常用的样式配置